.welcome-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.welcome-section p {
    margin-bottom: 30px;
    font-size: 16px;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.social-icons a {
    text-decoration: none;
}